.main__message__box
  .main__message__box__top
    .main__message__box__top__name
      test-user
    .main__message__box__top__time
      2019/02/13(wed)17:50:52
  .main__message__box__text
    aaaaaaaaaaaaaa

.main__message__box
  .main__message__box__top
    .main__message__box__top__name
      test-user
    .main__message__box__top__time
      2019/02/13(wed)17:50:52
  .main__message__box__text
    aaaaaaaaaaaaaa

.main__message__box
  .main__message__box__top
    .main__message__box__top__name
      test-user
    .main__message__box__top__time
      2019/02/13(wed)17:50:52
  .main__message__box__text
    aaaaaaaaaaaaaa
  

    
      
  