.chat__side__glist
  .chat__side__glist__group
    .chat__side__glist__group__name
      = link_to "test-group"
    .chat__side__glist__group__message
      さようなら
    .chat__side__glist__group__name
      = link_to "sample-group"
    .chat__side__glist__group__message
      hello!
    .chat__side__glist__group__name
      = link_to "example"
    .chat__side__glist__group__message
      まだメッセージがありません
