.chat__side__glist
  - current_user.groups.each do |group|  
    .chat__side__glist__group    
      = link_to group_messages_path(group) do
        .chat__side__glist__group__name
          = group.name
        .chat__side__glist__group__message
          メッセージはまだありません。