$text-color: #434A54;
$sub-text-color: #999999;
$button-color: #38AEF0;

// サイドバーの両端のスペース
@mixin side-p {
  padding-right: 20px;
  padding-left: 20px;
}

// サイドバーの横幅
@mixin side-w {
  width: 300px;
}
// メインページの両端のスペース
@mixin main-p {
  padding-right: 40px;
  padding-left: 40px;
}
