@import "./reset";
@import "./variable";
@import "font-awesome";
@import "./main";
@import "./side";
@import "modules/user";
@import "config/colors";
@import "modules/flash";
@import "modules/group";
// @import "modules/chat";
// @import "modules/side_bar";

:root {
  --main-gutter: 20px;
  --top-padding: padding-top: 35px;
}


.chat {
	display: flex;
	height: 100vh;
}
